.gradle
/local.properties
/release.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/assets/crashlytics-build.properties
/app/src/main/res/values/com_crashlytics_export_strings.xml